<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>2Jsone.net - > Convert Documents To json</title>
  <link rel="stylesheet" href="/css/style.css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="/css/jumbotron-narrow.css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" media="screen" charset="utf-8">
</head>
<body>
    {% block content %}
    {% endblock %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/bower_components/alasql/dist/alasql.min.js"></script>
<script src="/bower_components/js-xlsx/dist/xlsx.core.min.js"></script>
<script src="/js/2json.js"></script>
{% block scripts %}
{% endblock %}

</body>
</html>
